<html>
<head><title>Thyroid disease
classification</title></head>
<body bgcolor="	#FFB6C1"text="&#127801; &#x1F339;" >

<background-image:url(images\bg.jpg);>
<h1><center>Thyroid disease classsification</h1>

<hr>
<h2 ><center>!!!Predict your Self!!!</h2>
<form><p>
Age:<input type="text" name="Age"><br></p>
<p>Bp:<input type="text" name="Bp"><br></p>
<p>Cholestrol:<input textarea  name="Cholestrol" cols="50" rows="5"></textarea><br></p>
<p>Genter:<input type="radio" name="sex">Male
<input type="radio" name="sex">Famale<br></p>
<input type="submit" name="submit" value="submit">
</form>
</body>
</html>